.welcome-avatar{
    display: block;
    padding: 0;
    margin: 0 auto;
    max-width: 450px;
}

.logoInscFin {
    max-width: 300px;
}
/* gjola */
@media screen and  (max-width:636px){
    .welcome-avatar{
        max-width: 100%;
    }
}