.ticket-container{
    display: flex;
    border: 1px solid #000;
    margin: 0 auto;
}
.ticket{
    display: block;
}
.card-cuenta{
    position: relative;
    display: flex;
    padding: 5px 30px;
}
.card-body p{
    text-align: center;
    margin-bottom: 0;
    font-size: 1.2rem;
}
.card-login a{
    display: block;
    margin:  0 auto;
    text-align: center;
    padding-bottom: 30px;
    text-decoration: none   ;
}
.row{
    height: 100vh;
    align-items: center;
}
.entrada-text{
    text-align: center;
    font-style: italic;
}
.progress{
    position: fixed;
    max-width: 600px;
    width: 600px;
    top: calc(50% - 8px);
    z-index: 111;
}
.progress-bar{
    width: 0;
    transition: .5s;
    animation: progress 3s ease-in-out 0s 1 forwards;
}
#ticket-final{
    display: none;
}
.react-confetti-canvas{
    z-index: 1;
}
.card-ticket{
    transition: .3s;
    transform: scale(0);
    animation: growIn .5s ease-in-out 0s 1 forwards;
    padding-bottom: 30px;
}
.entrada-text p{
    margin-bottom: 0;
    padding: 0 5px;
}
#download-ticket{
    display: none;
}
@media screen and (max-width: 956px){
    .QRCodeImg{
        width: 200px;
    }
    .ticket{
        max-height: 200px;
    }
    .card-cuenta{
        position: relative;
        display: flex;
        padding: 5px 15px;
    }
}

@media screen and (max-width: 776px){
    .QRCodeImg{
        width: 150px;
    }
    .ticket{
        max-height: 150px;
    }
}

@media screen and (max-width: 636px){
    .progress{
        width: calc(100% - 30px);
    }
    .QRCodeImg{
        width: 126px;
    }
    .ticket{
        max-height: 126px;
    }
}
@media screen and (max-width: 428px){
    .ticket{
        max-height: 110px;
    }
    .QRCodeImg{
        width: 110px;
    }
    .card-cuenta{
        padding: 5px;
    }
}

@media screen and (max-width: 375px){
    .ticket{
        max-height: 100px;
    }
    .QRCodeImg{
        width: 100px;
    }
}

@media screen and (max-width: 360px){
    .ticket{
        max-height: 90px;
    }
    .QRCodeImg{
        width: 90px;
    }
}

@media screen and (max-width: 320px){
    .ticket{
        max-height: 78px;
    }
    .QRCodeImg{
        width: 78px;
    }
}

@media screen and (min-width: 957px){
    .QRCodeImg{
        width: 250px;
    }
    .ticket{
        max-height: 250px;
    }
}
@media screen and (min-width: 1100px){
    .QRCodeImg{
        width: 300px;
    }
    .ticket{
        max-height: 300px;
    }
}
@media screen and (min-width: 1360px){
    .QRCodeImg{
        width: 350px;
    }
    .ticket{
        max-height: 350px;
    }
}

@keyframes progress{
    from{
        width:0;
    }to{
        width: 100%;
    }
}
@keyframes growIn{
    from{
        transform:scale(0);
    }to{
        transform:scale(1);
    }
}