@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body,html{
  background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
  font-family: 'Roboto', sans-serif;
}
#root{
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  height: 100vh;
}
.form-control,
.btn{
  width: 368px;
  height: 50px;
  border-radius: 30px;
  display: block;
  margin: 15px auto;
}

.btn-primary{
  background: #700BEF;
  color: white;
  border: none;
  opacity: 1;
}
.btn-primary:hover{
  background: #700BEF;
  color: white;
  opacity: 0.9;
}
.btn-secondary{
  background: rgba(112, 11, 239, 0.3);
  color: #2d095a;
  border: none;
  opacity: 1;
}
.btn-secondary:hover{
  background: rgba(112, 11, 239, 0.1);
  color: #2d095a;
  opacity: 0.9;
}
.form-control:focus,
.form-control {
  background: rgba(112, 11, 239, 0.1);
  color: #2d095a;
}
.container-login .row{
  height: 100%;
}
.card{
  box-shadow: 5px 5px 7px 2px rgb(0,0,0,0.2);
  border: none;
}
.card-login{
  min-width: 600px;
}
.card-title{
  width: 100%;
  text-align: center;
  font-size: 2rem;
}
.col-login{
  justify-content: center;
  align-items: center;
  display: flex;
}
.logo-login{
  display: block;
  padding: 15px;
  margin: 0 auto;
  max-width: 250px;
}
.alert{
  display: none;
}
.form-select{
  max-width: 450px;
  margin: 0 auto;
}
.modal-footer .btn{
  width: 150px;
  display: inline-block;
  margin: 0 5px;
}
.container-fluid.sidebar{
  width: calc(100% - 250px);
  margin-left: 250px;
  height: calc(100% - 60px);
  margin-top: 60px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color:#ededed;
  overflow: hidden;
}
.card-admin-column,
.card-admin{
  background-color: white;
  padding: 10px;
  border-radius: .5rem;
  display: flex;
  height: 100%;
}
.card-admin-column{ 
  flex-direction: column;
}
.card-admin label{
  font-size: 1.2rem;
  padding: 10px 0;
}
.row-overflow{
  overflow-y: auto;
  overflow-x: hidden;
  margin-right: -30px;
}
.h-1{
  height: calc(8.33333333% - 3px);
}
.h-2{
  height: calc(16.6666666% - 3px);
}
.h-3{
  height: calc(24.9999999% - 3px);
}
.h-4{
  height: calc(33.3333332% - 3px);
}
.h-5{
  height: calc(41.6666665% - 3px);
}
.h-6{
  height: calc(49.9999998% - 3px);
}
.h-7{
  height: calc(58.3333331% - 3px);
}
.h-8{
  height: calc(66.6666666% - 3px);
}
.h-9{
  height: calc(74.9999997% - 3px);
}
.h-10{
  height: calc(83.3333333% - 3px);
}
.h-11{
  height: calc(91.6666666% - 3px);
}
.h-full{
  height: 100%;
}
.popAlert{
  position:fixed;
  width: calc(100% - 250px);
  bottom: 0;
  left: 250px;
  padding: 15px 10px 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0,0,0,0.8);
}
.popAlert .alert{
  width: 450px;
}
@media screen and (max-width:636px){
  .card-login{
      min-width: 100%;
  }
  .form-control,
  .form-select{
    max-width: 100%;
  }
  .btn{
    max-width: 250px;
  }
}